body {
    margin: 0px;
}

.webHeader, .webFooter, .hero {
    background-color: #1F2937;
}

.webHeader {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}

.headerLink, .footerText {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px 8px;
}

.hero {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftHero {
    margin: 48px 0px;
    margin-right: 16px;
}

.rightHero {

    margin: 48px 0px;
    margin-left: 16px;
}

.heroSecondary {
    font-size: 18px;
    color: #E5E7EB;
}

.heroImg {
    width: 400px;
    height: 150px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}

.call {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    margin: 50px auto;
    width: 500px;
    height: auto;
}

.callPrime {
    font-size: 24px;
    color: #F9FAF8;
}

.callSecond {
    font-size: 18px;
    color: #E5E7EB;
}

.signUpButton, .callButton {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 20px;
    width: 100px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.callButton {
    border-color: white;
}

.hero, .information, .quote, .call, .webFooter {
    padding: 36px 300px;
}

.webFooter {
    color: white;
    text-align: center;
}